.info-box {
  width: $w-info;
  height: $h-info;
  border: 4px solid black;
  border-radius: 10px;
  background: $light-ocean-2;
  border: 2px solid $ocean-1;
  display: grid;
  grid-template-rows: 1fr 2fr 1.5fr;
}

.possibility-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: $sz-info-square-poss;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin possibilities {
  display: flex;
  width: 95%;
  margin: 3% auto;
  justify-content: space-between;
  align-items: center;
}

@mixin possibilities_grid {
  @include ord-grid-container(3, 3);
  // display: flex;
  width: 95%;
  margin: 3% auto;
  justify-content: space-between;
  align-items: center;
}

@mixin possibilities_child {
  position: relative;
  user-select: none;
  width: $sz-info-square-poss;
  height: $sz-info-square-poss;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 

  &--disabled { 
    cursor: not-allowed;
  }
}
@mixin possibilities_child_grid {
  @include ord-grid-element(1, 9);
  position: relative;
  user-select: none;
  width: $sz-info-square-poss;
  height: $sz-info-square-poss;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 

  &--disabled { 
    cursor: not-allowed;
  }
}

@mixin possibilities_num($hover-selector) {
  @include possibilities_child();

  font-size: 2.3vw;
  font-weight: 300;

  .no-hover {
    display: flex;
  }

  .hover {
    display: none;
  }

  &#{$hover-selector} {
    .hover {
      display: flex;
    }
    
    .no-hover {
      display: none;
    }
  }
}

@mixin possibilities_btn {
  @include possibilities_child();

  font-size: 2.6vw;
}

.square-info {
  @include possibilities();
  grid-row: 1;
}

.square-info_possibility {
  $hover-selector: ':hover:not(&--disabled):not(&--chosen):not(.prevent-hover)';
  
  @include possibilities_num($hover-selector);
  color: $ocean-2;

  &--chosen {
    color: $green;
    font-size: 2.5vw;
    font-weight: 600;
  }

  &--unchosen {
    visibility: hidden;
  }

  &--square-eliminated,
  &--staged-eliminated {
    color: $brick-1;
  }
  
  &--auto-eliminated,
  &--collection-eliminated,
  &--disabled  {
    & > span {
      opacity: 0.2;
    }
  }
  
  &--mistake {
    &::before {
      content: '';
      position: absolute;
      bottom: -6%;
      background: $cream-5;
      height: 12%;
  
      animation: wipe-in-out 800ms forwards;
    }
  
    & > span {
      animation: lift 800ms forwards;
    }
  }

  &--staged-eliminated#{$hover-selector} {
    color: $ocean-2;
  }

  &:not(&--square-eliminated):not(&--staged-eliminated)#{$hover-selector} {
    color: $brick-1;
  }
}

.square-info_btn {
  @include possibilities_btn();
  color: $ocean-2;

  &--disabled {
    opacity: 0.2;
  }
}

.collection-combos {
  grid-row: 2;
}

.collection-filter {
  grid-row: 3;
}

.filter {
  @include possibilities();
}

.filter-possibility {
  $hover-selector: ':hover';
  @include possibilities_num($hover-selector);

  &:hover:not(.prevent-hover) {
    .possibility-icons--hover {
      display: flex;  
    }
    .possibility-icons--no-hover {
      display: none;  
    }
  }

  &--required,
  &--hover-required:hover:not(.prevent-hover) {
    color: $green;
  }

  &--eliminated,
  &--hover-eliminated:hover:not(.prevent-hover) {
    color: $brick-1;
  }

  &--none,
  &--hover-none:hover:not(.prevent-hover),
  &--alternative,
  &--hover-alternative:hover:not(.prevent-hover) {
    color: $ocean-2;
  }

  &--alternative,
  &--hover-alternative:hover:not(.prevent-hover) {
    border: 2px dashed $green;
    border-radius: 8px;
  }

  &--not-allowed {
    cursor: not-allowed;
  }
}

.combo--eliminated {
  color: $brick-1;
}

.possibility-icons {
  height: 100%;
  width: 100%;
  position: absolute;
}

.possibility-icons--hover {
  display: none;
}

.possibility-icon--small {
  font-size: 90%;
  opacity: 0.9;
}
