.info-box {
  width: $w-info;
  height: $h-info;
  border: 4px solid black;
  border-radius: 10px;
  background: $light-ocean-2;
  border: 2px solid $ocean;
}

.square-info_possibilities {
  display: flex;
  width: 95%;
  margin: 3% auto;
  justify-content: space-between;
  align-items: center;
}

.square-info_possibility {
  position: relative;
  user-select: none;
  width: $sz-info-square-poss;
  height: $sz-info-square-poss;
  color: darken($ocean, 5);
  font-size: 2.3vw;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;

  .no-hover {
    display: flex;
  }

  .hover {
    display: none;
  }

  &--chosen {
    color: $green;
    font-size: 2.5vw;
    font-weight: 600;
  }

  &--unchosen {
    visibility: hidden;
  }

  &--square-eliminated,
  &--staged-eliminated {
    color: $brick-1;
  }
  
  &--auto-eliminated,
  &--collection-eliminated,
  &--disabled  {
    & > span {
      opacity: 0.2;
    }
  }
  
  &--mistake {
    &::before {
      content: '';
      position: absolute;
      bottom: -6%;
      background: $cream-5;
      height: 12%;
  
      animation: wipe-in-out 800ms forwards;
    }
  
    & > span {
      animation: lift 800ms forwards;
    }
  
  }

  &--disabled:hover {
    cursor: not-allowed;
  }

  $true-hover: ':hover:not(&--disabled):not(&--chosen):not(.prevent-hover)';

  &#{$true-hover} {
    cursor: pointer; 

    .hover {
      display: flex;
    }
    
    .no-hover {
      display: none;
    }
  }

  &--staged-eliminated#{$true-hover} {
    color: darken($ocean, 5);
  }

  &:not(&--square-eliminated):not(&--staged-eliminated)#{$true-hover} {
    color: $brick-1;
  }
}

.possibility-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: $sz-info-square-poss;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-info_btn {
  color: darken($ocean, 5);
  user-select: none;
  width: $sz-info-square-poss;
  height: $sz-info-square-poss;
  font-size: 2.6vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover { 
    cursor: pointer; 
  }

  &--disabled {
    opacity: 0.2;
    
    &:hover {
      cursor: not-allowed;
    }
  }
}