.info-box {
  width: $w-info;
  height: $h-info;
  border-radius: 10px;
  background: $light-ocean-1;
  border: 2px solid $ocean-1;
  display: grid;
  grid-template-rows: 
    #{'min(calc(#{$h-info} * 0.25), 270px)'} 
    1fr 
    #{'min(calc(#{$h-info} * 0.28), 270px)'};
  overflow: hidden;
}

.possibility-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: $fnt-sz-info-poss-icon;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin possibilities {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin possibilities_child {
  position: relative;
  user-select: none;
  width: $sz-info-poss;
  height: $sz-info-poss;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
  z-index: 1;

  &--disabled { 
    cursor: not-allowed;
  }
}

@mixin possibilities_num($hover-selector) {
  @include possibilities_child();

  font-size: $fnt-sz-info-poss-val;
  font-weight: 300;

  .no-hover {
    display: flex;
  }

  .hover {
    display: none;
  }

  &#{$hover-selector} {
    .hover {
      display: flex;
    }
    
    .no-hover {
      display: none;
    }
  }
}

@mixin possibilities_btn {
  @include possibilities_child();

  font-size: $fnt-sz-info-poss-btn;
}

.possibility-icons {
  height: 100%;
  width: 100%;
  position: absolute;
}

.possibility-icons--hover {
  display: none;
}

.possibility-icon--small {
  font-size: 105%;
  opacity: 0.9;
}

.possibility-icon--required,
.possibility-icon--eliminated {
  font-size: $fnt-sz-info-poss-icon--lrg;
}


