.square {
  // @include large($sm-pz-size, 9);
  @include coord-grid-element(9, 9);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  outline: none;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  cursor: pointer;
}

.square_cage-top,
.square_cage-left {
  position: absolute;
  z-index: 1;
  background: black;
}

.square_cage-top {
  top: -2px;
  height: 4px;
  width: calc(100% + 4px);
}

.square_cage-left {
  left: -2px;
  width: 4px;
  height: calc(100% + 4px);
}

.square--focused {
  background-color: $robin-light;
}

.square--conflict {
  animation: fade-in-out 600ms 1;
}

.square--mistake .square_value {
  animation: shake 600ms ease-in-out 50ms 1;
}

.square[data-pos^="0"] {
  border-top: none;
}

.square[data-pos$="0"] {
  border-left: none;
}

.square_value {
  font-size: $square-val-font-size;
  position: relative;
  top: 10%;
  user-select: none;
}

.square_possibilities {
  @include ord-grid-container(3, 3);
  position: absolute;
  right: 15%;
  left: 15%;
  bottom: 5%;
  justify-items: center;
  color: $ocean;
  opacity: 0.4;
}

.square_possibility {
  @include ord-grid-element(1, 9);
  font-size: $square-poss-font-size;
  display: none;
  line-height: 90%;
  user-select: none;
}

.square_possibility--show {
  display: block;
}

.square_label {
  position: absolute;
  font-weight: bold;
  left: 5%;
  top: 5%;
  font-size: $square-label-font-size;
}

// @media only screen 
// and (min-width: $breakpoint-1) 
// and (max-width: $breakpoint-2) {

//   .square {
//     @include large($md-pz-size, 9)
//   }

//   .square_label {
//     @include small($md-pz-size, 9)
//   }

//   .square_possibilities {
//     @include small($md-pz-size, 9);
//   }
// }

// @media only screen and (min-width: $breakpoint-2){
//   .square {
//     @include large($lg-pz-size, 9)
//   }

//   .square_label{
//     @include small($lg-pz-size, 9)
//   }

//   .square_possibilities {
//     @include small($lg-pz-size, 9);
//   }
// }

