body {
  background-color: $cream-1;
  font-family: sans-serif;  
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: $w-app;;
  position: relative;

  @include hide-on-small-screen
}

#no-render {
  display: none;

  @include small-screen {
    display: block;
    width: 300px;    
  }
}

.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
}