footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  margin: auto;
  margin-top: 10px;
  
  aside {
    display: flex;
    align-items: center;
  }

  a:hover {
    text-decoration: underline;
  }

  .about-icons {
    font-size: 1.5rem;
    
    a {
      opacity: 0.7;
      margin-left: 10px;
    }
  
    a:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}