.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
  width: 80%;
}

.header_left,
.header_right {
  display: flex;
  align-items: center;
}

.header_right {
  justify-content: flex-end;
}

.header_left {
  justify-content: flex-start;
}

.header_button, 
.header_dropdown {
  color: $cappuccino-1;
  background: $cream-3;
  border-radius: 15px;
  font-weight: 700;
  border: 1px solid $cream-4;
}

.header_button {
  padding: 10px;
  margin-left: 15px;
  box-shadow: 2px 3px 0px 0px $cream-7;
  width: max-content;
  position: relative;

  &:hover, &:focus {
    box-shadow: 3.5px 4.5px 0px 0px $cream-7;
    transform: translate(-0.5px, -0.5px);
    z-index: 4;
  }
 
  &:focus {
    outline: none;
  }
}

.header_left > .header_button:first-child {
  margin-left: 0;
}

.header_dropdown {
  display: none;
  position: absolute;
  z-index: 4;
  top: 125%;
  left: 0;
  right: -420%;
  padding-top: 25px;
  font-weight: 400;
  // width: #{'min(55vw, 400px)'};
  box-shadow: 0 2px 5px 0 hsl(36,30,50);

  &--info {
    right: -600%;
    line-height: 1.6rem;
    padding: 10px 25px;
    cursor: text;
    user-select: text;

    a {
      text-decoration: underline;
      &:hover {
        color: $cappuccino-3;
      }
    }

    p {
      margin: 15px 0;
    }

    blockquote {
      padding: 15px;
      background-color: $cream-2;
      border-radius: 10px;
      font-style: italic;
    }

    &.show { 
      display: block;
    }
  }

  &--ordered {
    list-style: decimal;
    padding-left: 20px;

    li {
      display: list-item;

      span {
        font-weight: 600;
      }
    }
  }

  &--list {
    flex-direction: column;

    &.show { 
      display: flex;
    }

    li {
      margin: 0 20px 25px 20px;
    }
  }
}

#header-instructions .header_dropdown,
#header-about .header_dropdown {
  width: #{'min(55vw, 600px)'};
}

#header-options .header_dropdown {
  font-weight: 600;
  width: #{'min(55vw, 400px)'};

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.option_info {
  position: relative;
  width: 75%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option_hover {
  margin-left: 10px;
  display: flex;
  align-items: center;
  // position: relative;
}

.option_info-text {

}

.option_hover-text {
  display: none;
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 5%;
  max-width: 150%;
  min-width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: transparentize($cappuccino-3, .03);
  color: $cream-2;
  font-weight: 400;
  line-height: 1.5rem;
}

.option_info > span:hover .option_hover-text {
  display: block;
}

.toggle {
  width: 53.5px;
  height: 1.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  
  box-shadow: inset 0 0 2px 0 hsl(36,30,50);
  border-radius: 15px;
  background-color: $cream-2;

  transition: background-color 150ms ease-in-out;
}

.toggle_circle {
  height: 1.3rem;
  width: 1.3rem;
  background-color: $cappuccino-1;
  border-radius: 50%;
  position: relative;
  left: 2px;

  transition: transform 150ms ease-in-out;
}

.toggle--on {
  background-color: $cream-6;
  transition: background-color 150ms ease-in-out;

  .toggle_circle {
    transform: translateX(138%);
    transition: transform 150ms ease-in-out;
  }
}

.option_num-input {
  width: 53.5px;
  height: 2rem;
  font-size: 1.4rem;
  background-color: $cream-2;
  box-shadow: inset 0 0 2px 0 hsl(36,30,50);
  border-radius: 15px;
  text-align: center;
  caret-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 3px 0 hsl(36,30,40);
    background-color: $light-ocean-1;
  }

  &:focus::placeholder {
    visibility: hidden;
  }

  &::placeholder {
    color: transparentize($cappuccino-1, 0.5);
  }
}

// .option_num-input--error {
//   box-shadow: inset 0 0 8px 0 hsl(0, 70%, 50%);
//   transition: box-shadow 400ms;

//   &.leaving {
//     box-shadow: inset 0 0 3px 0 hsl(36,30,40);
//     transition: box-shadow 400ms;
//   }
// }

.option_num {
  position: relative;
}

// .option_error {
//   display: none;
//   position: absolute;
//   left: 100%;
//   top: 50%;
//   width: 15vw;
//   background-color: $brick-1;
//   color: white;
//   padding: 10px;
//   font-weight: 400;
//   border-radius: 10px;
  
//   &.show {
//     display: block;
//     opacity: 1;
//     animation: fade-in 400ms;

//     &.leaving {
//       opacity: 0;
//       transition: opacity 400ms;
//     }
//   }
// }