.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: min(1rem, 1.6vw);

  ::-webkit-scrollbar {
    width: 0.8vw;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(200,200,200,0.2);
    border-radius: 1vw;
    box-shadow: inset 0 0 1px rgba(200,200,200,0.2)
  }

  ::-webkit-scrollbar-thumb {
    background-color: $cream-6;
    border-radius: 1vw;
  }
}

.header_left,
.header_right {
  display: flex;
  align-items: center;
}

.header_right {
  justify-content: flex-end;
}

.header_left {
  justify-content: flex-start;
}

#title {
  font-size: min(4rem, 3.5vw);
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
  user-select: none;
  color: $cream-5;
  letter-spacing: 5px;
  text-transform: uppercase;

  $thickness: 1.5px;
  $blur: 1px;
  $color: $cappuccino-2;
  text-shadow: 
    0  #{$thickness} $blur $color,
    #{$thickness}  0 $blur $color,
    0 -#{$thickness} $blur $color,
    -#{$thickness} 0 $blur $color;
}

.header_button, 
.header_dropdown {
  color: $cappuccino-1;
  background: $cream-3;
  border-radius: min(15px, 1.5vw);
  font-weight: 700;
  border: 1px solid $cream-4;
}

.header_button {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  height: min(2.3rem, 3.8vw);
  padding: 0 min(12px, 1.2vw);
  box-shadow: min(2px, 0.2vw) min(3px, 0.3vw) 0px 0px $cream-7;
  
  &:not(:first-of-type) {
    margin-left: min(15px, 1.5vw);
  }

  &:hover, &:focus, &.show {
    box-shadow: min(3.5px, 0.35vw) min(4.5px, 0.45vw) 0px 0px $cream-7;
    transform: translate(-0.5px, -0.5px);
  }
 
  &.show {
    z-index: 12;
  }

  &:focus {
    outline: none;
  }
}

.header_left > .header_button:first-child {
  margin-left: 0;
}

.header_dropdown {
  display: none;
  position: absolute;
  z-index: 12;
  top: 125%;
  left: 0;
  right: -420%;
  padding-top: 25px;
  font-weight: 400;
  box-shadow: 0 2px 5px 0 $cream-9;
  cursor: auto;
  user-select: text;

  &--info {
    right: -600%;
    line-height: 1.6rem;
    padding: 10px 25px;

    a {
      text-decoration: underline;
      &:hover {
        color: $cappuccino-3;
      }
    }

    p {
      margin: 15px 0;
    }

    blockquote {
      padding: 15px;
      background-color: $cream-2;
      border-radius: 10px;
      font-style: italic;
    }

    .show & { 
      display: block;
    }
  }

  &--ordered {
    list-style: decimal;
    padding-left: 20px;

    li {
      display: list-item;

      span {
        font-weight: 600;
      }
    }
  }

  &--list {
    flex-direction: column;

    .show & { 
      display: flex;
    }

    li {
      margin: 0 20px 25px 20px;
    }
  }
}

#header-instructions .header_dropdown,
#header-about .header_dropdown {
  width: #{'min(55vw, 600px)'};
}

#header-instructions .header_dropdown {
  max-height: $sz-puzzle;
  padding: 25px 15px 15px 15px;
}

.instructions-inner {
  overflow-y: auto;
}

.instruction-section {
  ul { 
    display: none;
    margin-top: 15px;
  }

  > h1 {
    font-weight: 600;
    cursor: pointer;

    &:after {
      display: inline-block;
      content: '›';
      font-family: monospace;
      opacity: 0.5;
      margin-left: 7px;
      font-size: 2em;
      transform: translateY(7%);
    }
  }

  &.show {
    ul {
        display: block;
    }

    > h1:after {
      transform: rotate(90deg) translateX(30%);
    }
  }
}

.shortcuts {
  > li {
    display: grid;
    grid-template-columns: min(14vw, 150px) 1fr;
    column-gap: min(5%, 15px);
    align-items: center;

    > span:first-child {
      justify-self: right;
    }
  }
}

#header-options .header_dropdown {
  font-weight: 600;
  width: #{'min(55vw, 400px)'};

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.option_info {
  position: relative;
  width: 75%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option_hover {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.option_hover-text {
  display: none;
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 5%;
  max-width: 150%;
  min-width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: transparentize($cappuccino-3, .03);
  color: $cream-2;
  font-weight: 400;
  line-height: 1.5rem;
}

.option_info > span:hover .option_hover-text {
  display: block;
}

.toggle {
  width: 53.5px;
  height: 1.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  
  box-shadow: inset 0 0 2px 0 $cream-9;
  border-radius: 15px;
  background-color: $cream-2;

  transition: background-color 150ms ease-in-out;
}

.toggle_circle {
  height: 1.3rem;
  width: 1.3rem;
  background-color: $cappuccino-1;
  border-radius: 50%;
  position: relative;
  left: 2px;

  transition: transform 150ms ease-in-out;
}

.toggle--on {
  background-color: $cream-6;
  transition: background-color 150ms ease-in-out;

  .toggle_circle {
    transform: translateX(138%);
    transition: transform 150ms ease-in-out;
  }
}

.option_num-input {
  width: 53.5px;
  height: 2rem;
  font-size: 1.4rem;
  background-color: $cream-2;
  box-shadow: inset 0 0 2px 0 $cream-9;
  border-radius: 15px;
  text-align: center;
  caret-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 3px 0 $cream-10;
    background-color: $light-ocean-1;
  }

  &:focus::placeholder {
    visibility: hidden;
  }

  &::placeholder {
    color: transparentize($cappuccino-1, 0.5);
  }
}