.collection-info {
  grid-row: 2;
  display: grid;
  grid-template-rows: 
    1fr
    #{'min(calc(#{$h-info} * 0.28), 270px)'};
  grid-template-columns: 100%;
  border-radius: 0 0 10px 10px;
  position: relative;
  background-color: $light-ocean-3;
  min-height: 0;

  &::before {
    display: block;
    content: '';
    height: calc(#{$h-info} / 10);
    width: 100%;
    position: absolute;
    bottom: 100%;
    background: linear-gradient(0deg, $light-ocean-3,  $light-ocean-2);
  }

  &::after {
    display: block;
    content: '';
    height: calc(#{$h-info} / 40);
    position: absolute;
    top: 0;
    left: calc(#{$w-info} * 0.1);
    width: calc(#{$w-info} * 0.8);
    z-index: 2;
  }

  &--none {
    .combos_list {
      display: none;
    }

    .filter-possibility,
    .filter_btn {
      opacity: 0.2;
    }

    .filter_mode-btn {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &--and {
    background-color: $green-1;

    &::before {
      background: linear-gradient(0deg, $green-1,  $light-ocean-2);
    }

    &::after {
      background: linear-gradient(180deg, $green-1, $green-1-transparent);
    }

    .collection-filter::after {
      background: linear-gradient(0deg, $green-1, $green-1-transparent);
    }
  }
  
  &--not {
    background-color: $light-brick-2;

    &::before {
      background: linear-gradient(0deg, $light-brick-2,  $light-ocean-2);
    }
    
    &::after {
      background: linear-gradient(180deg, $light-brick-2,  $light-brick-2-transparent);
    }

    .collection-filter::after {
      background: linear-gradient(0deg, $light-brick-2,  $light-brick-2-transparent);
    }
  }
  
  &--or {
    background-color: $violet-1;

    &::before {
      background: linear-gradient(0deg, $violet-1,  $light-ocean-2);
    }

    &::after {
      background: linear-gradient(180deg, $violet-1, $violet-1-transparent);
    }

    .collection-filter::after {
      background: linear-gradient(0deg, $violet-1, $violet-1-transparent);
    }
  }

  ::-webkit-scrollbar {
    width: 0.8vw;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(200,200,200,0.2);
    border-radius: 1vw;
    box-shadow: inset 0 0 1px rgba(200,200,200,0.2)
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $grey-ocean-4;
    border-radius: 1vw;
  }
}

.collection-combos {
  grid-row: 1;
  width: $w-info;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.combos_list {
  overflow-y: scroll;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-bottom: calc(#{$h-info} / 40);
  padding-top: calc(#{$h-info} / 40);
}

.combo {
  background-color: rgba(240,240,240,0.7);
  border: 1.5px solid $grey-ocean-2;
  border-radius: 30px;
  font-size: 2vw;
  padding: 0.5vw 1.5vw 0.5vw 2.3vw;
  margin-bottom: 6px;
  letter-spacing: 0.8vw;
  display: flex;
  justify-content: center;
  color: $grey-ocean-5;
  cursor: pointer;
  outline: none;
  user-select: none;
  width: fit-content;
  position: relative;

  &--eliminated,
  &:not(&--eliminated):hover {
    &::after {
      height: 12%;
      width: 90%;
      position: absolute;
      left: 5%;
      top: 44%;
      border-radius: 5px;
      background-color: $brick-1;
      opacity: 0.4;
      content: '';
    }
  }

  &--eliminated {
    color: $brick-1;
    background-color: $light-brick-2;
    opacity: 0.5;

    &::after {
      opacity: 0.8;
    }
  }
}

.collection-filter {
  grid-row: 2;
  position: relative;
  padding: 10px 15px;
  width: $w-info;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::after {
    display: block;
    content: '';
    height: calc(#{$h-info} / 40);
    position: absolute;
    bottom: 100%;
    left: calc(#{$w-info} * 0.1);
    width: calc(#{$w-info} * 0.8);
    z-index: 2;
  }
}

.filter-possibilities {
  @include possibilities();
}

.filter-possibility {
  $hover-selector: ':hover';
  @include possibilities_num($hover-selector);

  &:hover:not(.prevent-hover) {
    .possibility-icons--hover {
      display: flex;  
    }
    .possibility-icons--no-hover {
      display: none;  
    }
  }

  &--required,
  &--hover-required:hover:not(.prevent-hover) {
    color: $green-3;
  }

  &--eliminated,
  &--hover-eliminated:hover:not(.prevent-hover) {
    color: $brick-1;
  }

  &--none,
  &--hover-none:hover:not(.prevent-hover),
  &--alternative,
  &--hover-alternative:hover:not(.prevent-hover) {
    color: $grey-ocean-6;
  }

  &--alternative,
  &--hover-alternative:hover:not(.prevent-hover) {
    &::after {
      content: '';
      position: absolute;
      bottom: -11%;
      background: $violet-4;
      height: 10%;
      width: 70%;
      border-radius: 10px;
    }
  }

  &--not-allowed {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.filter_btn {
  @include possibilities_btn();

  color: $grey-ocean-6;

  &:hover:not(&--disabled) {
    color: darken($grey-ocean-6, 3);
    text-shadow: 0.3px 0.3px 1px darken($grey-ocean-6, 5);
  }
}

.filter-tabs {
  display: grid;
  grid-template-columns: repeat(3, $w-info-tab);
  justify-items: center;
  margin: 0 0 20px 0;
}

.filter_mode-btn {
  padding-bottom: 0.35vw;
  outline: none;
  color: $grey-ocean-4;
  font-weight: bold;
  font-size: #{'min(20px, 1.3vw, 2.5vh)'};
  position: relative;
}

#filter-and {
  grid-column: 1;

  .collection-info--and & {
    color: $green-4;
  }
}

#filter-not {
  grid-column: 2;

  .collection-info--not & {
    color: $brick-2;
  }
}

#filter-or {
  grid-column: 3;

  .collection-info--or & {
    color: $violet-4;
  }
}

#filter-tab-underline {
  height: calc(#{$h-info} / 145);
  width: calc(#{$w-info} / 15);
  grid-column: 1;
  border-radius: 10px;

  .collection-info--and & {
    background-color: $green-3;
    transform: translateX(0);
    transition: transform 300ms;
  }
  
  .collection-info--not & {
    background-color: $brick-1;
    transform: translateX(#{$w-info-tab});
    transition: transform 300ms;
  }
  
  .collection-info--or & {
    background-color: $violet-4;
    transform: translateX(calc(#{$w-info-tab} * 2));
    transition: transform 300ms;
  }
}
