.square-info {
  @include possibilities();
  grid-row: 1;
  position: relative;
  padding: 0 10px;
}

.square-info_possibility {
  $hover-selector: ':hover:not(&--disabled):not(&--chosen):not(.prevent-hover)';
  
  @include possibilities_num($hover-selector);
  color: $ocean-2;

  &--chosen {
    color: $green-3;
    font-weight: 600;
    font-size: $fnt-sz-info-poss-val--lrg;
    cursor: not-allowed;
  }

  &--unchosen {
    visibility: hidden;
  }

  &--square-eliminated,
  &--staged-eliminated {
    color: $brick-1;
  }
  
  &--auto-eliminated,
  &--collection-eliminated,
  &--disabled  {
    & > span {
      opacity: 0.2;
    }
  }
  
  &--mistake {
    &::before {
      content: '';
      position: absolute;
      bottom: -6%;
      background: $brick-1;
      height: 12%;
  
      animation: wipe-in-out 600ms forwards;
    }
  
    & > span {
      animation: lift 600ms forwards;
    }
  }

  &--staged-eliminated#{$hover-selector} {
    color: $ocean-2;
  }

  &:not(&--square-eliminated):not(&--staged-eliminated)#{$hover-selector} {
    color: $brick-1;
  }
}

.square-info_btn {
  @include possibilities_btn();
  color: $ocean-2;

  &--disabled {
    opacity: 0.2;
  }

  &:hover:not(&--disabled) {
    color: darken($ocean-2, 3);
    text-shadow: 0.3px 0.3px 1px darken($ocean-2, 5);
  }
}