.keyboard {
  display: inline-block;
  border: 1px solid $grey-ocean-2;
  border-radius: 3px;
  background: $grey-ocean-1;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0 0.35em;
  margin: 0 0.1em;
  position: absolute;
  opacity: 0.6;
}

.keyboard--cream {
  border-color: $cream-5;
  background: $cream-2;
  padding: 0.2em 0.35em;
  position: relative;
}

.keyboard--inword {
  opacity: 0.9;
  padding: 0 0.1em;
  margin: 0 0.05em;
  font-size: 1em;
}
