$sz-puzzle: #{'min(55vw, 80vh)'};

$fnt-sz-square-val: calc(#{$sz-puzzle} / 9 * 0.5);
$fnt-sz-square-label: calc(#{$sz-puzzle} / 9 * 0.24);
$fnt-sz-square-poss: calc(#{$sz-puzzle} / 9 * 0.22);

$w-info: calc(min(42vw, #{$sz-puzzle}, (97vw - #{$sz-puzzle})));
$h-info: calc(#{$sz-puzzle} * 0.95);

$total-width: calc(#{$sz-puzzle} + #{$w-info});
$w-app: calc(#{$total-width} + (100vw - #{$total-width}) / 3);

$sz-info-square-poss: calc(#{$w-info} / 13);
$sz-info-square-chosen: calc(#{$sz-info-square-poss} * 1.2);

$sz-info-poss: min(calc(#{$w-info} / 11.5),calc(#{$sz-puzzle} / 13));

$w-info-tab: calc(#{$w-info} * 0.3);

$fnt-sz-info-poss-icon: calc(#{$sz-info-poss} * 0.9);
$fnt-sz-info-poss-val: calc(#{$fnt-sz-info-poss-icon} * 0.7); // * 1.08 for chosen
$fnt-sz-info-poss-val--lrg: calc(#{$fnt-sz-info-poss-val} * 1.08);
