.gm-info-grp {
  background: $rose-dark;
  border: 2px solid $ruby-dark;

  &.swipe-show {
    visibility: visible;
  }

}

@media only screen 
and (max-width: $breakpoint-1) {
  .gm-info-grp {
    
  }
}

@media only screen 
and (min-width: $breakpoint-1) {
  .gm-info-grp {
    @include slide-out('right');    

    &.show {
      display: flex;
    }

    &.leaving {
      transform: translateX(80%);
      opacity: 0;
      transition: transform 200ms ease, opacity 200ms ease;
    }
  }
}

@media only screen 
and (min-width: $breakpoint-1) 
and (max-width: $breakpoint-2) {
  .gm-info-grp {
    align-self: end;
  }
}

@media only screen and (min-width: $breakpoint-2){
  .gm-info-grp {

  }
}