.gm-info-sqr {

  background: $robin-light;
  border: 2px solid $ocean;

  &.swipe-show {
    visibility: visible;
  }
}

.gm-info-nums {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.info-num-wrapper {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.info-num {
  &:hover { cursor: pointer; }
  color: black;
  opacity: 0.2;

  &.selected {
    color: $rose;
    opacity: 1;
  }

  &.ruled-out {
    visibility: hidden;
  }
}

.info-nums-checkall {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  opacity: 0.2;
  cursor: pointer;

  &.selected {
    color: $rose;
    opacity: 1;
  }
}

@media only screen 
and (max-width: $breakpoint-1) {
  .gm-info-sqr {
    
  }
}

@media only screen 
and (min-width: $breakpoint-1) {
  .gm-info-sqr {
    @include slide-out('left');    

    &.show {
      display: flex;
    }

    &.leaving {
      transform: translateX(90%) scale(0.7);
      opacity: .3;
      transition: transform 200ms ease, opacity 200ms ease;    
    }
  }
}

@media only screen 
and (min-width: $breakpoint-1) 
and (max-width: $breakpoint-2) {
  .gm-info-sqr {
    
  }
}

@media only screen and (min-width: $breakpoint-2){
  .gm-info-sqr {
    
  }
}