.gm-puzzle {
  display: grid;
  grid-template: repeat(9, 1fr), repeat(9, 1fr);
  width: 40vw;
  height: 40vw;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.gm-square {
  height: 100%;
  width: 100%;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

.top-bound {
  border-top: 3px solid black;
}

.left-bound {
  border-left: 3px solid black;
}