.info-box {
  width: $info-width;
  height: $info-height;
  border: 4px solid black;
  border-radius: 10px;
  background: $robin-light;
  border: 2px solid $ocean;
}

.square-info {

}

.square-info_possibilities {
  display: flex;
  width: 95%;
  margin: 10px auto;
  justify-content: space-evenly;
}

.square-info_possibility {
  color: darken($ocean, 5);
  user-select: none;
  width: $info-square-poss-size;
  height: $info-square-poss-size;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $ocean;
  border-radius: 50%;

  &:hover { 
    cursor: pointer; 
  }
}

.square-info_possibility--disabled {
  opacity: 0.2;
}

.square-info_possibility--squareEliminated {
  color: rgb(173, 72, 72);
  border-color: rgb(173, 72, 72);
  opacity: 0.5;
}

.square-info_possibility--collectionEliminated {
  opacity: 0.2;
}

.square-info_actions {

}

.square-info_btn {
  color: darken($ocean, 5);
  user-select: none;
  width: $info-square-poss-size;
  height: $info-square-poss-size;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover { 
    cursor: pointer; 
  }

  .square-info_staging-icon {
    display: none;
  }
}

.square-info_btn--staging {
  .square-info_icon {
    display: none;
  }
  .square-info_staging-icon {
    display: initial;
  }
}