// color 
$rose-lighter: #fff7f6;
$rose-light: #ffe0dd;
$rose: #ffc9c3;
$rose-dark: #ffb2aa;
$rose-darker: #ff9b90;
$rose-darker2: #ff8477;

$ruby: #990f00;
$ruby-dark: #800d00;


$robin-lighter: #f6feff;
$robin-light: #ddfcff;
$robin: #c3f9ff;
$robin-dark: #aaf6ff;
$robin-darker: #90f4ff;

$ocean: #00818f;

$cream-lighter: #fffbf6;
$cream-light: #fff1dd;
$cream: #ffe7c3;
$cream-dark: #ffddaa;
$cream-darker: #ffd390;
$cream-darker2: #ffc877;
$cream-darker3: #f4a125;

$cappuccino: hsl(36, 100%, 30%);
$cappuccino-dark: hsl(36, 100%, 25%);
$cappuccino-darker: hsl(36, 100%, 18%);

$mint: #c3ffc9;


$forest: hsl(126°, 80%, 35%);

// new size

$puzzle-size: #{'min(55vw, 85vh)'};

$square-val-font-size: calc(#{$puzzle-size} / 9 * 0.5);
$square-label-font-size: calc(#{$puzzle-size} / 9 * 0.24);
$square-poss-font-size: calc(#{$puzzle-size} / 9 * 0.22);

$info-width: calc(min(40vw, (95vw - #{$puzzle-size})));
$info-height: calc(#{$puzzle-size} * 0.95);

$info-square-poss-size: calc(#{$info-width} / 15);

// size

$lg-pz-size: 42vw;
$md-pz-size: 60vw;
$sm-pz-size: 95vw;

$lg-info-size: 27vw;
$md-info-size: 35vw;
$sm-info-size: 70vw;

$lg-hdr-height: calc(40px + 1.5vw);
$sm-hdr-height: 8vh;

$lg-nav-height: 40px;

$breakpoint-1: 700px;
$breakpoint-2: 1050px;

@mixin hd-small() {
  min-width: 90vw;
  min-height: $lg-hdr-height;
}

@mixin hd-large() {
  min-width: 42vw;
  min-height: $lg-hdr-height;
}

@mixin small($pz-size, $num-squares) {
  font-size: calc(#{$pz-size} / #{$num-squares} / 4.5);
}

@mixin large($pz-size, $num-squares) {
  font-size: calc(#{$pz-size} / #{$num-squares} / 2);
}


