<footer>
  <aside id='attribution'>
    <span>
      puzzles by <a target='_blank' href='https://www.krazydad.com'>Jim Bumgardner, aka Krazydad</a>
    </span>
  </aside>

  <aside id='links'>
    <span>
      made by <a target='_blank' href='https://gorterd.github.io'>Daniel Gorter</a></li>
    </span>
    <span class='about-icons'>
      <a target='_blank' href='https://www.github.com/gorterd'><i class='github'></i></a>
      <a target='_blank' href='https://www.linkedin.com/in/daniel-gorter/'><i class='linkedin'></i></a>
      <a target='_blank' href='https://angel.co/u/daniel-gorter'><i class='angel'></i></a>
    </span>
  </aside>
</footer>