<footer>
  <aside id='attribution'>
    <span>
      puzzles by
      <a href='https://www.krazydad.com' target='_blank' rel='noreferrer'>Jim Bumgardner, aka Krazydad</a>
    </span>
  </aside>

  <aside id='links'>
    <span>
      made by <a href='https://gorterd.github.io' target='_blank' rel='noreferrer'>Daniel Gorter</a>
    </span>
    <span class='about-icons'>
      <a href='https://www.github.com/gorterd' target='_blank' rel='noreferrer'>
        <i class='github'></i>
      </a>
      <a href='https://www.linkedin.com/in/daniel-gorter/' target='_blank' rel='noreferrer'>
        <i class='linkedin'></i>
      </a>
      <a href='https://angel.co/u/daniel-gorter' target='_blank' rel='noreferrer'>
        <i class='angel'></i>
      </a>
    </span>
  </aside>
</footer>