<section class='game'>
  <div class='puzzle'>
    <template id='square-template'>
      <div class='square' tabindex='-1'>
        <span class='square_cage-top'></span>
        <span class='square_cage-left'></span>
        <span class='square_label'></span>
        <span class='square_value'></span>
        <ol class='square_possibilities'>
          <li class='square_possibility'></li>
          <!-- more square possibilities here -->
        </ol>
      </div>
    </template>

    <!-- squares cloned from template go here -->
  </div>

  <div class='info-box'>
    <template id='info-label-template'>
      <svg class="info_label" viewBox="0 0 100 28">
        <path d="
                M 0,0
                h 100
                l -12,12
                l 12,12
                h -100
                z
              " />
        <polygon points="
                0,24
                7,24
                7,28
              " />
        <text x="15" y="45%" dominant-baseline="middle">
          <!-- insert text here -->
        </text>
      </svg>
    </template>

    <!-- labels cloned from template go here -->

    <ol class='square-info'>
      <template id='square-info_possibility-template'>
        <li class='square-info_possibility' data-val=''>
          <span class='possibility-icon no-hover'>
            <i class='circle'></i>
          </span>
          <span class='possibility-icon hover'>
            <i class='ban'></i>
          </span>
          <span class='square-info_possibility-val'>
            <!-- insert val here -->
          </span>
        </li>
      </template>

      <!-- possibilities cloned from template go here -->

      <button id='square-info_select-only' class='square-info_btn'>
        <i class='select'></i>
      </button>
      <button id='square-info_clear' class='square-info_btn'>
        <i class='clear'></i>
      </button>
    </ol>

    <div class='collection-info'>
      <div class='collection-combos'>
        <ul class='combos_list'>
          <template id='combo-template'>
            <li class='combo' tabindex='-1'>
            </li>
          </template>

          <!-- combos cloned from template go here -->
        </ul>
      </div>

      <div class='collection-filter'>
        <ul class='filter-tabs'>
          <button id='filter-and' class='filter_mode-btn'>
            Require All <span class='keyboard'>a</span>
          </button>
          <button id='filter-not' class='filter_mode-btn'>
            Eliminate <span class='keyboard'>e</span>
          </button>
          <button id='filter-or' class='filter_mode-btn'>
            Require One <span class='keyboard'>o</span>
          </button>
          <span id='filter-tab-underline'></span>
        </ul>

        <ol class='filter-possibilities'>
          <template id='filter-possibility-template'>
            <li class='filter-possibility' data-val=''>
              <div class='possibility-icons possibility-icons--no-hover'></div>
              <div class='possibility-icons possibility-icons--hover'></div>
              <span class='filter-possibility_val'></span>
            </li>
          </template>

          <!-- possibilities cloned from template go here -->

          <button id='filter-clear-mode' class='filter_btn'>
            <i class='reset'></i>
          </button>
          <button id='filter-clear-all' class='filter_btn'>
            <i class='clear'></i>
          </button>
        </ol>
      </div>
    </div>
  </div>
</section>