<header class='header'>
  <div class='header_left'>
    <button id='header-about' class='header_button'>
      about
      <div class='header_dropdown header_dropdown--info'>
        <p>
          Arithmedoku is inspired by the popular puzzle game
          <a href='https://en.wikipedia.org/wiki/KenKen'>KenKen</a>,
          a sudoku-like game with a math twist, invented by Japanese math teacher
          <a href='https://en.wikipedia.org/wiki/Tetsuya_Miyamoto'>Tetsuya Miyamoto</a>.
        </p>

        <p>
          All of the puzzles in Arithmedoku were written by Jim Bumgardner, aka Krazydad. He calls them Inkies. From
          the Krazydad
          <a href='https://krazydad.com/about.php'>about page</a>:
        </p>

        <blockquote>
          This website has been offering free puzzles to the public since 2005. My mission is to provide puzzles to
          under-served groups that need them, including prisoners, pensioners, home-schoolers, hospitals, churches,
          and classrooms. There are currently about two million individual puzzles on the site, and over sixty
          unique varieties.
        </blockquote>

        <p>
          Check out the
          <a href='https://krazydad.com/'>Krazydad website</a>, or
          <a href='https://krazydad.com/inkies/'>find more Inkies</a>.
        </p>
      </div>
    </button>
    <button id='header-instructions' class='header_button'>
      instructions
      <div class='header_dropdown header_dropdown--list'>
        <ul class='instructions-inner'>
          <li class='instruction-section'>
            <h1>Rules</h1>
            <ul>
              <li> Each row and culumn must contain each of the numbers 1 through 9, no repeats</li>
              <li> In the upper left of each cage is an arithmetic operation and result.
                Performing this operation on the numbers in the cage must yield the listed
                result.
              </li>
            </ul>
          </li>
          <li class='instruction-section'>
            <h1>Info Box: Cage</h1>
            <ul>
              <li>HELLO</li>
            </ul>
          </li>
          <li class='instruction-section'>
            <h1>Info Box: Square</h1>
            <ul></ul>
          </li>
          <li class='instruction-section'>
            <h1>Keyboard Shortcuts</h1>
            <ul>
              <li>
                <span class='keyboard keyboard--cream'>←↑↓→</span> Change selected square
              </li>
              <li>
                <span class='keyboard keyboard--cream'>⌃ + number</span> Toggle square possibility
              </li>
              <li>
                <span class='keyboard keyboard--cream'>Alt + number</span> Hold down Alt and select numbers you want to
                rule
                *in* (eliminating every other number as a square possibility)
              </li>
              <li>
                <span class='keyboard keyboard--cream'>⌘ + z</span> or <span class='keyboard keyboard--cream'>⌃ +
                  z</span>
                Undo last move
              </li>
              <li>
                <span class='keyboard keyboard--cream'>⌘ + y</span> or <span class='keyboard keyboard--cream'>⌃ +
                  y</span>
                Redo last move
              </li>
              <li>
                <span class='keyboard keyboard--cream'>⇧ + number</span> Toggle number within currently selected Cage
                Info
                tab
              </li>
              <li>
                <span class='keyboard keyboard--cream'>⌘ + ⇧ + ←/→</span> Change selected Cage Info tab
              </li>
              <li>
                <span class='keyboard keyboard--cream'>a</span> Select the Require All tab
              </li>
              <li>
                <span class='keyboard keyboard--cream'>e</span> Select the Eliminate tab
              </li>
              <li>
                <span class='keyboard keyboard--cream'>o</span> Select the Require One tab
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </button>
    <button id='header-options' class='header_button'>
      options
      <ul class='header_dropdown header_dropdown--list'>
        <template id='option-template'>
          <li class='option'>
            <span class='option_info'>
              <span class='option_info-text'>
                <!-- insert text here -->
              </span>
              <span class='option_hover'>
                <i class="info"></i>
                <span class='option_hover-text'>
                  <!-- insert text here -->
                </span>
              </span>
            </span>

            <!-- option toggle or num input here -->
          </li>

        </template>

        <template id='option-toggle-template'>
          <span class='toggle toggle--on'>
            <span class='toggle_circle'></span>
          </span>
        </template>

        <template id='option-num-template'>
          <span class='option_num'>
            <input class='option_num-input'></input>
          </span>
        </template>
      </ul>
    </button>
  </div>
  <div class='header_right'>
    <button id='header-undo' class='header_button'>
      undo <span class='keyboard keyboard--cream'>⌘z / ⌃z </span>
    </button>
    <button id='header-redo' class='header_button'>
      redo <span class='keyboard keyboard--cream'>⌘y / ⌃y </span>
    </button>
    <button id='header-new' class='header_button'>new puzzle</button>
    <button id='header-reset' class='header_button'>reset</button>
  </div>
</header>