@keyframes shake {
  @for $i from 0 through 1 {
    #{0% + ($i * 50%)} {
      transform: rotate(0deg);
    }
  
    #{12.5% + ($i * 50%)} {
      transform: rotate(30deg);
    }
  
    #{25% + ($i * 50%)} {
      transform: rotate(0deg);
    }
  
    #{37.5% + ($i * 50%)} {
      transform: rotate(-30deg);
    }
  
    #{50% + ($i * 50%)} {
      transform: rotate(0deg);
    }
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in-out {

  0% {
    background-color: initial;
  }

  50% {
    background-color: $cream-4;
  }

  100% {
    background-color: initial;
  }

}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wipe-in-out {
  0% {
    width: 0%;
    left: 0;
  }

  40% {
    width: 100%;
    left: 0;
  }

  60% {
    left: initial;
    right: 0;
    width: 100%;
  }

  100% {
    left: initial;
    right: 0;
    width: 0;
  }
}

@keyframes lift {
  0% {
    transform: translateY(0);
  }

  35% {
    transform: translateY(-1vh);
  }

  65% {
    transform: translateY(-1vh);
  }

  100% {
    transform: translateY(0);
  }
}