@keyframes shake {
  @for $i from 0 through 1 {
    #{0% + ($i * 50%)} {
      transform: rotate(0deg);
    }
  
    #{12.5% + ($i * 50%)} {
      transform: rotate(30deg);
    }
  
    #{25% + ($i * 50%)} {
      transform: rotate(0deg);
    }
  
    #{37.5% + ($i * 50%)} {
      transform: rotate(-30deg);
    }
  
    #{50% + ($i * 50%)} {
      transform: rotate(0deg);
    }
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in-out {

  0% {
    background-color: initial;
  }

  50% {
    background-color: $cream-dark;
  }

  100% {
    background-color: initial;
  }

}

@mixin slide-out($dir) {
  @keyframes slide-left {
    
    0% {
      opacity: 0.6;
      transform: translateX(180%) scale(.4);
      position: relative;
      z-index: -1;
    }

    100% {
      opacity: 0.6;
      transform: translateX(0) scale(0.4);
    }
  }

  @keyframes slide-right {
    
    0% {
      opacity: 0.6;
      transform: translateX(-180%) scale(.4);
      position: relative;
      z-index: -1;
    }

    100% {
      opacity: 0.6;
      transform: translateX(0) scale(0.4);
    }
  }

  @keyframes scale-up {
    
    0% {
      opacity: 0.6;
      transform: scale(.4);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @if $dir == 'left' {
    animation: slide-left 200ms ease-out 1, scale-up 200ms ease-in-out 200ms 1;
  } @else {
    animation: slide-right 200ms ease-out 1, scale-up 200ms ease-in-out 200ms 1;
  }
}