body {
  font-family: sans-serif;  
}

.hidden {
  display: none;
}

.highlight-wrapper {
  position: absolute;
  z-index: 6;
  background: white;
  
  &--fuzzy {
    box-shadow: inset 0 0 3px 3px rgba(0,0,0,0.4);
  }
}

.highlight-outer-wrapper {
  position: absolute;
}

.spotlight-frame {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  path {
    fill: rgba(0,0,0,0.4);
  }
}

.spotlight-caption {
  z-index: 11;
  position: absolute;
  width: 200px;
  height: 200px;

  color: $cappuccino-1;
  background: $cream-3;
  border-radius: 15px;
  font-weight: 700;
  border: 1px solid $cream-4;

  padding: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}