body {
  font-family: sans-serif;  
}

.hidden {
  display: none;
}

.dim {
  position: absolute;
  z-index: 5;
  background-color: rgba(0,0,0,0.4);
}

.caption {
  position: absolute;
  z-index: 7;

  &[data-shift="left"] {
    transform: translateX(-50%);
  }

  &[data-shift="up"] {
    transform: translateY(-50%);
  }
}

.highlight-shadow {
  position: absolute;
  z-index: 6;
  box-shadow: inset 0 0 3px 3px rgba(0,0,0,0.4);
}